body {
  background: white;

}

.sub-main{
  display: flex;
  justify-content:center ;
  width: 600px;
  height: 800px;
  padding-top: 0px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #DBD884 60%;
  position:sticky;
  left: 459px;
  top: 100px;
}

.up-sub-main{
  display: flex;
  justify-content:center ;
  width: 600px;
  height: 800px;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #DBD884 60%;
  position: absolute;
  left: 459px;
  top: 100px;
  
  
}


.app{
margin-top: 10%;
margin-left: 82.99%;
}

.add_btn{
  margin-left: 300px;
}



